:root {
  /* --black: #2b2d42;
  --lighter-black: #5f5e5e;
  --white: #ffffff;
  --grey: #d9d9d9;
  --navy: #284b63;
  --green: #3c6e71;
  --salmon: #c16e70; */
  --black: #2b2d42;
  --grey: #8d99ae;
  --white: #edf2f4;
  --light-red: #ef233c;
  --dark-red: #d90429;
  --project-button: #456990;
  --project-headline: #2a4158;
  --orange-download-orange: #fca311;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #909cb0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  color: var(--black);
}

.logo-image {
  width: 15rem;
}

.logo {
  line-height: 60px;
  float: left;
  margin: 16px;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/pattern.svg) no-repeat center;
  background-size: cover;
}

.homepage-icon {
  width: 48px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: var(--black);
}

.cv-button {
  background-color: var(--orange-download-orange);
  border-radius: 7px;
  border: none;
  text-align: center;
  width: 7rem;
  height: 2rem;
  margin-left: 5px;
}

.cv-button:hover {
  transition: ease-in-out 0.5s;
}

.social-icons {
  display: flex;
  align-items: center;
}

.linux-image {
  width: 48px;
  height: auto;
}

.download-cv-button {
  color: var(--black);
}

.content {
  font-size: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set a fixed height, adjust as needed */
}

.title-name {
  color: var(--grey);
}

.homepage-img {
  width: 20rem;
  border-radius: 10%;
  margin-right: 5rem;
}

.software-engineer-title {
  color: var(--black);
}

.titles {
  display: flex;
  flex-direction: column;
}

.title-name {
  font-size: 75px;
}

.main-home {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-content h1 {
  color: var(--black);
}
.about-paragraph-container {
  width: 65%;
}

.about {
  padding-top: 2rem;
  background-color: var(--white);
}

.projects-content {
  text-align: center;
}

.technical-skills-title {
  margin-top: 5rem;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-paragraph {
  color: var(--grey);
}

.title {
  color: var(--black);
}
.title-contact {
  display: flex;
  justify-content: center;
  color: var(--white);
}

.contact {
  height: 100vh;
}

.title-contact {
  color: var(--black);
}

.contact-button {
  background-color: var(--navy);
  border: none;
  text-align: center;
}

.timeline img {
  border: 0;
  width: 50vh;
  border-color: #5f5e5e;
}

input {
  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 10px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 30px;
}

textarea {
  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 25px;
}

input:focus-within {
  outline: none;
  border-color: #5bd183;
  border: width 3px;
}

textarea:focus-within {
  outline: none;
  border-color: #5bd183;
  border: width 3px;
}

.contact-form-button {
  background-color: #5bd183;
  border-radius: 20px;
  border-color: black;
  font-size: 22px;
  padding: 10px 18px;
  text-align: center;
  display: flex;
  margin: auto;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}

.dvs-header__trigger {
  display: none;
}

.skills {
  display: flex;
  flex-direction: row;
}

.skills div {
  margin: 10px 10px 10px 10px;
}

.projects {
  height: 100vh;
  background: url(./images/pattern-background.svg) no-repeat center;
  background-size: cover;
}
.project-container {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
}

.project {
  position: relative;
  border-radius: 18px;
  width: 20rem;
  height: 25rem;
  background-color: var(--black);
  opacity: 50%;
}
.project-headline {
  color: black;
}

.project:hover {
  opacity: 70%;
  transition-delay: 1s;
  transition: ease-in-out 0.5s;
}

.view-project-button {
  width: 5rem;
  height: 2.5rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  border: none;
  border-radius: 15px;
  background-color: var(--project-button);
}
.view-project-button:hover {
  transition-delay: 1s;
  transition: ease-in-out 0.5s;
  background-color: #5bd183;
}
.project-git-link {
  position: absolute;
  bottom: 0.2rem;
  right: 6rem;
}

@media (max-width: 800px) {
  .logo-image {
    width: 10rem;
  }

  .dvs-header__menuItems {
    display: none;
  }

  .burger-stack {
    width: 2rem;
    margin: 16px;
  }

  .dvs-header__menuItems.is-open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  nav ul li {
    display: inline-block;
    padding: 0px 20px;
  }

  .dvs-header__trigger {
    display: block;
  }

  .content {
    margin: 0;
  }

  .main-home {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ivan-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .homepage-img {
    width: 10rem;
    border-radius: 50%;
    margin-right: 0;
  }

  .title {
    font-size: xx-large;
    color: var(--black);
  }

  .about-paragraph {
    font-size: medium;
  }

  .title-name {
    font-size: xx-large;
  }

  .software-engineer-title {
    font-size: medium;
  }

  .skills {
    flex-direction: column;
  }

  .project-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects {
    height: auto;
  }
  .project {
    width: 15rem;
    height: 20rem;
    background-color: var(--black);
    opacity: 50%;
    margin-bottom: 50px;
  }
}
